/********************************************
	Main styling rules for text
*********************************************/

.beaches-body {
	background-color: #FEF0CA;
	font-family: arial, verdana, sans-serif;
}

#glribeachform-success, #glribeachform-failure {
	background-color: #FEF0CA;
	font-family: arial, verdana, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
}

.site-title, .site-title span a {
	color: #FFFFFF; 
	background-color: #345280;
	font-size: 120%;
	font-weight: bold;
	width: 100%;
	text-decoration: underline;
}

#glribeachform-view-table td, th {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#glribeachform-view-table th {
	font-weight: bold;
}

#glribeachform-history-table td, th {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#glribeachform-history-table th {
	font-weight: bold;
}

#glribeachform-history-table a {
	text-decoration: underline;
}

#glribeachform-history-table a:HOVER {
	cursor: pointer;
}

.model-container {
	background-color: #EEEEEE;
	margin: 1em;
}

.model-title {
	background-color: #345280;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.2em;
}

.data, .units {
	font-weight: bold;
}