<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Data Cleaning &amp; Publishing Toolkit</display-name>
    <description>Data Cleaning &amp; Publishing Toolkit</description>
    <servlet>
        <servlet-name>IngestControlServlet</servlet-name>
        <servlet-class>gov.usgs.cida.dcpt.IngestControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecorateServlet</servlet-name>
        <servlet-class>gov.usgs.cida.dcpt.servlet.DecorateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngestControlServlet</servlet-name>
        <url-pattern>/ingestors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecorateServlet</servlet-name>
        <url-pattern>/decorate</url-pattern>
    </servlet-mapping>
</web-app>
